[package]
name = "etf-app"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }

exclude = ["contract.wasm", "hash.txt"]

[lib]
crate-type = ["cdylib", "rlib"]

[[example]]
name = "schema"
required-features = ["schema"]

[[example]]
name = "deploy"
required-features = ["interface"]

[features]
default = ["export"]
export = []
interface = [
  "export",
  "dep:abstract-interface",
  "dep:cw-orch",
  "abstract-app/interface-macro",
]
schema = ["abstract-app/schema"]

[dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-controllers = { workspace = true }
cw-storage-plus = { workspace = true }
cw20 = { workspace = true }
cw20-base = { workspace = true }
thiserror = { workspace = true }
schemars = { workspace = true }
protobuf = { workspace = true }
cw-asset = { workspace = true }

abstract-app = { workspace = true }

cw-orch = { workspace = true, optional = true }
abstract-interface = { workspace = true, optional = true }

[dev-dependencies]
cw20-base = { workspace = true, features = ["interface"] }
cw20 = { workspace = true, features = ["interface"] }
wyndex-bundle = { workspace = true }
abstract-interface = { workspace = true, features = ["daemon"] }
abstract-testing = { workspace = true }
semver = { workspace = true }
anyhow = { workspace = true }
speculoos = { workspace = true }
env_logger = "0.10.0"
dotenv = "0.15.0"
clap = { workspace = true }
cw-orch = { workspace = true, features = ["daemon"] }
etf-app = { path = ".", features = ["interface"] }
cw-plus-interface.workspace = true
