[package]
name = "abstract-app"
version = "0.12.0-alpha.4"
edition = { workspace = true }
license = { workspace = true }
description = "base app contract implementation"
resolver = "2"

# [lib]
# crate-type = ["cdylib", "rlib"]


[features]

# use library feature to disable all instantiate/execute/query exports
library = []
test-utils = ["abstract-testing"]


[dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-storage-plus = { workspace = true }
serde = { workspace = true }
semver = { workspace = true }
schemars = { workspace = true }
cw-controllers = { workspace = true }
thiserror = { workspace = true }
cw2 = { workspace = true }
cw-asset = { workspace = true }
abstract-sdk = { workspace = true }
abstract-os = { workspace = true }
abstract-testing = { workspace = true, optional = true}

[dev-dependencies]
cosmwasm-schema = { workspace = true }
speculoos = { workspace = true }
abstract-app ={ path = ".", features = ["test-utils"]}