[package]
name = "abstract-app"
version = "0.15.3"
edition = { workspace = true }
license = { workspace = true }
description = "base app contract implementation"
resolver = "2"

# [lib]
# crate-type = ["cdylib", "rlib"]


[features]
test-utils = ["dep:abstract-testing", "dep:abstract-interface", "dep:cw-orch"]
schema = []

[dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-storage-plus = { workspace = true }
serde = { workspace = true }
semver = { workspace = true }
schemars = { workspace = true }
cw-controllers = { workspace = true }
thiserror = { workspace = true }
cw2 = { workspace = true }
cw-asset = { workspace = true }
abstract-sdk = { workspace = true }
abstract-core = { workspace = true }
abstract-testing = { workspace = true, optional = true }
cw-orch = { workspace = true, optional = true }
# Keep this as a version and update when publishing new versions
abstract-interface = { path = "../../packages/abstract-interface", version = "0.15.3", optional = true }

[dev-dependencies]
cosmwasm-schema = { workspace = true }
speculoos = { workspace = true }
abstract-app = { path = ".", features = ["test-utils"] }
