[package]
name = "abstract-cw-staking"
description = "The Cw-staking tendermint adapter is an Abstract adapter for staking tokens."
version.workspace = true
authors.workspace = true
edition.workspace = true
license = { workspace = true }
resolver = "2"
publish = false

exclude = [
  # Those files are rust-optimizer artifacts. You might want to commit them for convenience but they should not be part of the source code publication.
  "contract.wasm",
  "hash.txt",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[example]]
name = "deploy"
required-features = ["interface"]

[[example]]
name = "schema"
required-features = ["schema"]

[lib]
crate-type = ["cdylib", "rlib"]

[features]
export = []
default = ["export"]
interface = [
  "dep:cw-orch",
  "dep:abstract-interface",
  "export",
  "abstract-staking-standard/interface",
  "abstract-adapter/interface-macro",
]
schema = ["abstract-adapter/schema"]
testing = ["dep:abstract-client", "dep:cw-orch", "dep:cw20"]
cw-orch = ["dep:cw-orch"]
osmosis-test = ["cw-orch/osmosis-test-tube"]

# Supported Dexes
wynd = ["abstract-wyndex-adapter/full_integration", "dep:cw-controllers"]
osmosis = ["abstract-osmosis-adapter/full_integration"]
astroport = ["abstract-astroport-adapter/full_integration"]
bow = ["abstract-kujira-adapter/full_integration"]
astrovault = ["abstract-astrovault-adapter/full_integration"]

# Builds
[package.metadata.optimizer]
builds = [
  { name = "juno", features = [
    "wynd",
  ] },
  { name = "terra2", features = [
    "astroport",
  ] },
  { name = "neutron", features = [
    "astroport",
  ] },
  { name = "osmosis", features = [
    "osmosis",
  ] },
  { name = "kujira", features = [
    "bow",
  ] },
  { name = "injective", features = [
    "astroport",
  ] },
  { name = "sei", features = [
    "astroport",
  ] },
  { name = "archway", features = [
    "astrovault",
  ] },
]

[dependencies]
cosmwasm-schema = { workspace = true }
cosmwasm-std = { workspace = true }
cw-controllers = { workspace = true, optional = true }
cw-utils = { workspace = true }
cw-asset = { workspace = true }
schemars = { workspace = true }
thiserror = { workspace = true }
serde = { workspace = true }

abstract-sdk = { workspace = true }
abstract-std = { workspace = true }
abstract-adapter = { workspace = true }
abstract-interface = { workspace = true, optional = true }
cw-orch = { workspace = true, optional = true }

# Local
abstract-staking-standard = { workspace = true }
abstract-adapter-utils = { workspace = true }

# Juno dexes #
abstract-wyndex-adapter = { workspace = true }

# Osmosis #
abstract-osmosis-adapter = { workspace = true }

# Terra #
abstract-astroport-adapter = { workspace = true }

# Kujira #
abstract-kujira-adapter = { workspace = true }

# Astrovault #
abstract-astrovault-adapter = { workspace = true }

# Testing #
abstract-client = { workspace = true, optional = true }
cw20 = { workspace = true, optional = true }

[dev-dependencies]
anyhow = { workspace = true }
tokio = { version = "1.4", features = ["full"] }
semver = { version = "1.0" }
dotenv = "0.15.0"
env_logger = "0.10.0"
log = "0.4.14"
speculoos = { workspace = true }
cw-orch = { workspace = true, features = ["daemon"] }
abstract-interface = { workspace = true }
clap = { workspace = true }
cw-staking = { path = ".", features = [
  "interface",
  "wynd",
  "osmosis",
], package = "abstract-cw-staking" }
abstract-sdk = { workspace = true, features = ["test-utils"] }
abstract-testing = { workspace = true }
wyndex-bundle = { workspace = true }
cw20 = { workspace = true, features = ["interface"] }
cw20-base = { workspace = true, features = ["interface"] }
