[package]
name = "abstract-money-market-standard"
description = "The money market adapter is an Abstract adapter for interacting with usual Money Market commands. It provides a common interface for all Money Markets"

version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

exclude = ["contract.wasm", "hash.txt"]
resolver = "2"


[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["export"]
export = []
testing = []

[dependencies]
cosmwasm-std = { workspace = true }
schemars = { workspace = true }
serde = { workspace = true }
cw20 = { workspace = true }
thiserror = { workspace = true }
cw-asset = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-storage-plus = { workspace = true }

abstract-core = { workspace = true }
abstract-sdk = { workspace = true }
abstract-adapter-utils = { workspace = true }
cw-orch = { workspace = true }
abstract-adapter = { path = "../../abstract-adapter", version = "0.21.0" }
