RUST_LOG="info"

ARTIFACTS_DIR="../artifacts"

LOCAL_MNEMONIC=""
TEST_MNEMONIC=""
MAIN_MNEMONIC=""

# Location where state is stored, defaults to ~/cw-orchestrator/state.json (Optional)
# STATE_FILE="./state.json"
