[package]
name = "abstract-modules-interchain-tests"
version = { workspace = true }
edition = { workspace = true }

[lib]

[dependencies]
cosmwasm-std = { workspace = true }
cw-asset = { workspace = true }
cw20 = { workspace = true }
cw-orch = { workspace = true, features = ["daemon"] }
cw-orch-clone-testing = { workspace = true }

abstract-app = { workspace = true, features = ["test-utils"] }
abstract-interface = { workspace = true, features = ["daemon"] }
abstract-client = { workspace = true }

tokio = { workspace = true }
anyhow = { workspace = true }
env_logger = "0.10.0"
lazy_static = "1.4.0"

# # Clone testing
abstract-dex-adapter = { workspace = true, features = [
  "testing",
  # "astroport",
  # "fin",
  "astrovault",
] }
abstract-cw-staking = { workspace = true, features = [
  "testing",
  # "astroport",
  # "bow",
  "astrovault",
] }
abstract-money-market-adapter = { workspace = true, features = [
  "testing",
  # "mars",
  # "ghost",
] }
# astroport = { version = "3.11.1" }
# kujira = { version = "0.8" }
astrovault = { version = "0.1.4" }

serde_json = "1"
serde = "1"
