[package]
name = "abstract-subscription"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }

exclude = ["contract.wasm", "hash.txt"]

[lib]
crate-type = ["cdylib", "rlib"]

[[example]]
name = "schema"
required-features = ["schema"]

[[example]]
name = "deploy"
required-features = ["interface"]

[features]
default = ["export"]
export = []
interface = [
  "export",
  "dep:abstract-interface",
  "dep:cw-orch",
  "abstract-app/interface-macro",
]
schema = ["abstract-app/schema"]

[dependencies]
cosmwasm-std = { workspace = true }
cw-controllers = { workspace = true }
cw-storage-plus = { workspace = true }
cosmwasm-schema = { workspace = true }
cw2 = { workspace = true }
cw20 = { workspace = true }
schemars = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
cw-asset = { workspace = true }
semver = { workspace = true }

abstract-app = { workspace = true }
cw-orch = { workspace = true, optional = true }

abstract-interface = { workspace = true, optional = true }

cw-address-like = { workspace = true }

[dev-dependencies]
abstract-client = { workspace = true, features = ["test-utils"] }
abstract-testing = { workspace = true }
# Deploy
dotenv = "0.15.0"
env_logger = "0.10.0"
clap = { workspace = true }
abstract-subscription = { path = ".", features = ["interface"] }
