[package]
name = "abstract-adapter"
version = "0.24.0"
authors = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
description = "base adapter contract implementation"
resolver = "2"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
test-utils = ["dep:abstract-testing", "abstract-sdk/test-utils"]
schema = []
stargate = ["abstract-sdk/stargate"]

[dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-storage-plus = { workspace = true }
serde = { workspace = true }
schemars = { workspace = true }
cw-controllers = { workspace = true }
thiserror = { workspace = true }
cw2 = { workspace = true }
abstract-sdk = { workspace = true }
abstract-std = { workspace = true }
abstract-testing = { workspace = true, optional = true }
cw-orch = { workspace = true }
# Keep this as a version and update when publishing new versions
abstract-interface = { path = "../../packages/abstract-interface", version = "0.24.0" }
abstract-ibc-client = { version = "0.24.0", path = "../../contracts/native/ibc-client", default-features = false }
abstract-ibc-host = { version = "0.24.0", path = "../../contracts/native/ibc-host", default-features = false }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
workspace-hack = { version = "0.1", path = "../../workspace-hack" }

[dev-dependencies]
cosmwasm-schema = { workspace = true }
abstract-adapter = { path = ".", features = ["test-utils"] }
