version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2

parameters:
  GHA_Event:
    type: string
    default: ""
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""

workflows:
  version: 2
  build-and-commit:
    when:
      equal: [ "build_wasms", << pipeline.parameters.GHA_Meta >>]
    jobs:
      - build
      - deploy:
          requires: 
            - build
          filters:
            branches:
              only: /release\//

  modules-coverage:
    when: 
      equal: [ "modules_coverage", << pipeline.parameters.GHA_Meta >>]
    jobs: 
      - coverage
  # Add this to give green CI when nothing is ran
  pass:
    jobs:
      - pass

jobs:
  build:
    docker:
      - image: cimg/rust:1.72.0
    resource_class: xlarge
    steps:
      - setup_remote_docker:
          version: 20.10.14
      - checkout
      - run:
          name: Build WASM artifacts
          command: |
            ./scripts/wasm-all-ci.sh
      - run:
          name: Commit and push artifacts
          command: |
            git config --global user.name 'CircleCI'
            git config --global user.email 'circleci@example.com'
            git add framework/artifacts --force
            git add modules/artifacts --force
            git commit -m 'Update WASM artifacts [skip ci]'
            git push origin $CIRCLE_BRANCH
    deploy:
      docker:
      - image: cimg/rust:1.72.0
      resource_class: large
      steps:
        - checkout
        - run: 
          name: Deploy
          command: |
            cd framework
            just deploy uni-6

  coverage:
    # https://circleci.com/developer/images?imageType=machine
    docker:
      - image: cimg/rust:1.72.0
    resource_class: xlarge
    steps:
      - setup_remote_docker:
          version: 20.10.14
      - checkout
      - run:
          name: Run tests with coverage for modules
          command: |
            ./scripts/modules-coverage.sh
      - codecov/upload:
          file: ./modules/lcov.info

  pass: 
    docker:
    # Primary container image where all steps run
     - image: cimg/base:2022.05
    steps:
      - run:
          name: Pass
          command: |
            echo "Pass"
