[package]
name = "abstract-sdk"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
description = "Helpers for Abstract contracts"
license = { workspace = true }
readme = "README.md"
repository = "https://github.com/AbstractSDK/abstract/tree/main/packages/abstract-sdk"
resolver = "2"

[lints]
workspace = true

# for quicker tests, cargo test --lib
[features]
default = []
stargate = ["dep:cosmos-sdk-proto", "dep:prost-types", "dep:ibc-proto"]

# Expose MockModule for testing with other Adapters
test-utils = ["dep:abstract-testing", "dep:cosmwasm-schema"]

[dependencies]
cosmwasm-std = { workspace = true, features = ["iterator", "staking"] }
cw-controllers = { workspace = true }
cw-storage-plus = { workspace = true }
cw2 = { workspace = true }
cw20 = { workspace = true }
cosmos-sdk-proto = { version = "0.24", optional = true, default-features = false, features = [
  "cosmwasm",
] }
ibc-proto = { version = "0.47.0", optional = true, default-features = false }
prost-types = { version = "0.13.1", optional = true }
schemars = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
cw-asset = { workspace = true }
abstract-std = { workspace = true }
semver = { workspace = true }
abstract-macros = { workspace = true }
cw-clearable = { workspace = true }
serde-cw-value = { workspace = true }

# test-utils feature
abstract-testing = { workspace = true, optional = true }
cosmwasm-schema = { workspace = true, optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
workspace-hack = { version = "0.1", path = "../../workspace-hack" }


[dev-dependencies]
speculoos = { workspace = true }
cosmwasm-schema = { workspace = true }
doc-comment = "0.3.3"
# Set our own feature when running tests!
abstract-sdk = { path = ".", features = ["test-utils"] }
cw-ownable = { workspace = true }
serde_json = "1.0.79"
