[package]
name = "abstract-ibc-client"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
description = "Abstract IBC Client Contract"
license = { workspace = true }
readme = "README.md"
repository = "https://github.com/AbstractSDK/abstract"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["export"]
export = []

[dependencies]
cosmwasm-std = { workspace = true, features = ["stargate", "staking"] }
cw-storage-plus = { workspace = true }
cw-ownable = { workspace = true }
cw-utils = { workspace = true }
cw2 = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
abstract-std = { workspace = true }
abstract-sdk = { workspace = true }
abstract-macros = { workspace = true }
semver = { workspace = true }
polytone-note = { workspace = true, features = ["library"] }
polytone = { workspace = true }
cw-paginate = "2.0.0"
ibc-proto = { version = "0.47.0", default-features = false }
prost = { version = "0.13.1", default-features = false }

[dev-dependencies]
cosmwasm-schema = { workspace = true }
abstract-testing = { workspace = true }
speculoos = { workspace = true }

[profile.release]
rpath = false
lto = true
overflow-checks = true
opt-level = 3
debug = false
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
