[package]
name = "osmosis-host"
version = {workspace = true}
authors = {workspace = true}
edition = {workspace = true}

exclude = [
  "contract.wasm",
  "hash.txt",
]

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["export"]
export = []


[dependencies]
cosmwasm-std = { version =  "1.1", features = ["stargate"]}
thiserror = {workspace = true}
# dex = {workspace = true, default-features = false ,features = ["osmosis"] }
abstract-core =  { workspace = true }
abstract-ibc-host = { workspace = true }
abstract-sdk = {workspace = true}
cosmwasm-schema = { workspace = true }
abstract-macros = { workspace = true }

[profile.release]
rpath = false
lto = true
overflow-checks = true
opt-level = 3
debug = false
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
