[package]
name = "abstract-staking-standard"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
description = "Abstract Cw-Staking Adapter Exports (used for implementing the adapter for specific staking platforms)"
exclude = ["contract.wasm", "hash.txt"]
resolver = "2"


[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["export"]
export = []

# Keep as is until TendermintStake updates.
[dependencies]
cosmwasm-std = { workspace = true }
schemars = { workspace = true }
serde = { workspace = true }
cw20 = { workspace = true }
thiserror = { workspace = true }
cw-asset = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-storage-plus = { workspace = true }
cw-utils = { workspace = true }

abstract-std = { workspace = true }
abstract-sdk = { workspace = true }
abstract-adapter-utils = { workspace = true }
cw-orch = { workspace = true }
abstract-adapter = { version = "0.24.1-beta.2", path = "../../abstract-adapter" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
workspace-hack = { version = "0.1", path = "../../../workspace-hack" }

[dev-dependencies]
abstract-interface = { workspace = true, features = ["daemon"] }
semver = { workspace = true }
anyhow = { workspace = true }
speculoos = { workspace = true }
dotenv = "0.15.0"
env_logger = "0.11.3"
clap = { workspace = true }
abstract-testing = { workspace = true }
abstract-sdk = { workspace = true, features = ["test-utils"] }
