[package]
name = "abstract-ibc-client"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
description = "Abstract IBC Client Contract"
license = { workspace = true }
readme = "README.md"
repository = "https://github.com/Abstract-OS/contracts"


[lib]
crate-type = ["cdylib", "rlib"]

[features]

default = ["export"]
export = []

[dependencies]
cosmwasm-std = { workspace = true }
cw-storage-plus = { workspace = true }
cw-controllers = { workspace = true }
cw-utils = { workspace = true }
cw2 = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
abstract-core = { workspace = true }
abstract-sdk = { workspace = true }
abstract-macros = { workspace = true }
cw-semver = { workspace = true }


[dev-dependencies]
cosmwasm-schema = { workspace = true }
abstract-testing = { workspace = true }
speculoos = { workspace = true }

[profile.release]
rpath = false
lto = true
overflow-checks = true
opt-level = 3
debug = false
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
