[package]
name = "ping-pong"
version = "0.1.0"
edition = "2021"

[features]
default = ["export"]
export = []
schema = ["abstract-app/schema"]

[lib]
crate-type = ["cdylib", "rlib"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-controllers = { workspace = true }
cw-storage-plus = { workspace = true }
thiserror = { workspace = true }
schemars = { workspace = true }
cw-asset = { workspace = true }
abstract-app = { workspace = true }
cw-orch = { workspace = true }
abstract-ibc-client = { version = "0.24.1-beta.2", default-features = false, path = "../../../../framework/contracts/native/ibc-client" }

[dev-dependencies]
cw-orch-interchain = { workspace = true, features = ["daemon"] }
cw-orch-polytone = { package = "abstract-cw-orch-polytone", version = "6.0.0" }
cw-orch = { workspace = true, features = ["daemon"] }
abstract-client = { workspace = true, features = ["interchain"] }
env_logger = "0.11"
