[package]
name = "abstract-interface"
version = "0.21.0"
edition = { workspace = true }
license = { workspace = true }
description = "Abstract deployment helpers with cw-orchestrator"
repository = "https://github.com/AbstractSDK/abstract"

[features]
default = ["integration"]
daemon = ["cw-orch/daemon"]
integration = []

[dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-storage-plus = { workspace = true }
serde = { workspace = true }
semver = { workspace = true }
schemars = { workspace = true }
cw-controllers = { workspace = true }
thiserror = { workspace = true }
cw2 = { workspace = true }
cw-asset = { workspace = true }
cw-address-like = { workspace = true }
abstract-core = { workspace = true }

cw-orch = { workspace = true }
log = "0.4.14"
serde_json = "1.0.79"
speculoos = { workspace = true }
polytone = { workspace = true }

# Embed state.json in binary in release mode
rust-embed = { version = "8.3.0", features = ["include-exclude"] }

# Keep these here
module-factory = { package = "abstract-module-factory", path = "../../contracts/native/module-factory", default-features = false, version = "0.21.0" }
ibc-client = { package = "abstract-ibc-client", path = "../../contracts/native/ibc-client", default-features = false, version = "0.21.0" }
ibc-host = { package = "abstract-ibc-host", path = "../../contracts/native/ibc-host", default-features = false, version = "0.21.0" }
account-factory = { package = "abstract-account-factory", path = "../../contracts/native/account-factory", default-features = false, version = "0.21.0" }
ans-host = { package = "abstract-ans-host", path = "../../contracts/native/ans-host", default-features = false, version = "0.21.0" }
version-control = { package = "abstract-version-control", path = "../../contracts/native/version-control", default-features = false, version = "0.21.0" }
proxy = { package = "abstract-proxy", path = "../../contracts/account/proxy", default-features = false, version = "0.21.0" }
manager = { package = "abstract-manager", path = "../../contracts/account/manager", default-features = false, version = "0.21.0" }

[build-dependencies]
serde_json = "1.0.79"
