[package]
name = "abstract-interface"
version = "0.23.1"
edition = { workspace = true }
license = { workspace = true }
description = "Abstract deployment helpers with cw-orchestrator"
repository = "https://github.com/AbstractSDK/abstract"

[features]
default = ["integration"]
daemon = ["cw-orch/daemon"]
integration = []
interchain = ["dep:cw-orch-interchain", "dep:cw-orch-polytone"]

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-storage-plus = { workspace = true }
serde = { workspace = true }
semver = { workspace = true }
schemars = { workspace = true }
cw-controllers = { workspace = true }
thiserror = { workspace = true }
cw2 = { workspace = true }
cw20 = { workspace = true }
cw-asset = { workspace = true }
cw-address-like = { workspace = true }
abstract-std = { workspace = true }

cw-orch = { workspace = true }
cw-orch-interchain = { workspace = true, optional = true }
log = "0.4.14"
serde_json = "1.0.79"
speculoos = { workspace = true }
cw-orch-polytone = { workspace = true, optional = true }

# Embed state.json in binary in release mode
rust-embed = { version = "8.3.0", features = ["include-exclude"] }

# Keep these here
module-factory = { version = "0.23.0", package = "abstract-module-factory", path = "../../contracts/native/module-factory", default-features = false }
ibc-client = { version = "0.23.0", package = "abstract-ibc-client", path = "../../contracts/native/ibc-client", default-features = false }
ibc-host = { version = "0.23.0", package = "abstract-ibc-host", path = "../../contracts/native/ibc-host", default-features = false }
account-factory = { version = "0.23.0", package = "abstract-account-factory", path = "../../contracts/native/account-factory", default-features = false }
ans-host = { version = "0.23.0", package = "abstract-ans-host", path = "../../contracts/native/ans-host", default-features = false }
version-control = { version = "0.23.0", package = "abstract-version-control", path = "../../contracts/native/version-control", default-features = false }
proxy = { version = "0.23.0", package = "abstract-proxy", path = "../../contracts/account/proxy", default-features = false }
manager = { version = "0.23.0", package = "abstract-manager", path = "../../contracts/account/manager", default-features = false }
account = { version = "0.23.0", package = "abstract-account", path = "../../contracts/account/account", default-features = false }
workspace-hack = { version = "0.1", path = "../../workspace-hack" }

[build-dependencies]
serde_json = "1.0.79"

[dev-dependencies]
abstract-testing = { workspace = true }
dotenv = "0.15.0"
env_logger = "0.11.3"
cw-orch = { workspace = true, features = ["daemon"] }
cw-orch-interchain = { workspace = true, features = ["daemon"] }
cw721-base = "0.18.0"
