[package]
name = "abstract-module-factory"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
description = "Abstract Module Factory Contract"
license = { workspace = true }
readme = "README.md"
repository = "https://github.com/AbstractSDK/abstract"

exclude = ["contract.wasm", "hash.txt"]

[lints]
workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["export"]
export = []
# for quicker tests, cargo test --lib
mock-deployment = ["abstract-std/mock-deployment"]

[package.metadata.optimizer]
standard-build = true
builds = [{ name = "mock", features = ["mock-deployment"] }]

[dependencies]
cosmwasm-std = { workspace = true }
cw-controllers = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-storage-plus = { workspace = true }
cw2 = { workspace = true }
thiserror = { workspace = true }
semver = { workspace = true }
abstract-sdk = { workspace = true }
abstract-std = { workspace = true }
abstract-macros = { workspace = true }
cw-asset = { workspace = true }
cw-ownable = { workspace = true }
serde-cw-value = { workspace = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
workspace-hack = { version = "0.1", path = "../../../workspace-hack" }

[dev-dependencies]
abstract-interface = { workspace = true }
cw-orch = { workspace = true }
anyhow = { workspace = true }
abstract-testing = { workspace = true }
abstract-integration-tests = { workspace = true }
coverage-helper = { workspace = true }

[profile.release]
overflow-checks = true
