[package]
name = "abstract-ica-client"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
description = "Abstract IBC Client Contract"
license = { workspace = true }
readme = "README.md"
repository = "https://github.com/AbstractSDK/abstract"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["export"]
export = []

[dependencies]
cosmwasm-std = { workspace = true, features = ["ibc3", "staking"] }
cosmwasm-schema = { workspace = true }
cw-storage-plus = { workspace = true }
cw-ownable = { workspace = true }
cw-utils = { workspace = true }
cw2 = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
abstract-std = { workspace = true }
abstract-sdk = { workspace = true }
abstract-macros = { workspace = true }
semver = { workspace = true }
polytone = { workspace = true }
cw-paginate = "0.2.1"
ibc-proto = { version = "0.46.0", default-features = false }
prost = { version = "0.12.3", default-features = false }
abstract-ica = { workspace = true }
cw-orch = { workspace = true }

evm-note = { git = "https://github.com/AbstractSDK/evm-ibc", branch = "ica-client-changes" }
polytone-evm = { git = "https://github.com/AbstractSDK/evm-ibc", branch = "ica-client-changes" }
[dev-dependencies]
cosmwasm-schema = { workspace = true }
abstract-testing = { workspace = true }
speculoos = { workspace = true }

[profile.release]
rpath = false
lto = true
overflow-checks = true
opt-level = 3
debug = false
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
