[package]
name = "abstract-registry"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
description = "Abstract Registry Contract"
license = { workspace = true }
readme = "README.md"
repository = "https://github.com/AbstractSDK/abstract"

exclude = ["contract.wasm", "hash.txt"]


[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["export"]
export = []


[dependencies]
cosmwasm-std = { workspace = true }
cw-storage-plus = { workspace = true }
cw2 = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
semver = { workspace = true }
abstract-sdk = { workspace = true }
abstract-std = { workspace = true }
abstract-macros = { workspace = true }
cw-ownable = { workspace = true }
cosmwasm-schema = { workspace = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
workspace-hack = { version = "0.1", path = "../../../workspace-hack" }

[dev-dependencies]
cosmwasm-schema = { workspace = true }
abstract-interface = { workspace = true }
cw-orch = { workspace = true }
anyhow = { workspace = true }
speculoos = { workspace = true }
abstract-testing = { workspace = true }
