[package]
name = "abstract-interchain-tests"
version = { workspace = true }
edition = { workspace = true }

[lib]


[dependencies]
cosmwasm-std = { workspace = true }
cw-orch = { workspace = true, features = ["daemon"] }
cw-orch-proto = { workspace = true }

abstract-std = { workspace = true }
abstract-app = { workspace = true, features = ["test-utils"] }
abstract-sdk = { workspace = true }
abstract-adapter = { workspace = true, features = ["test-utils"] }
abstract-testing = { workspace = true }
abstract-interface = { workspace = true }
abstract-scripts = { path = "../scripts" }
abstract-client = { workspace = true }

tokio = { workspace = true }
log = "0.4.14"
anyhow = { workspace = true }
env_logger = "0.10.0"

ibc-relayer-types = "0.25"

cw-orch-polytone = { workspace = true }
polytone = { workspace = true }
cosmwasm-schema.workspace = true
cw-controllers = { workspace = true }
cw-storage-plus.workspace = true
thiserror.workspace = true
base64 = "0.22.1"

ping-pong = { path = "../../modules/contracts/apps/ping-pong" }
