[package]
name = "abstract-client"
version.workspace = true
authors.workspace = true
edition.workspace = true
homepage.workspace = true
documentation.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cosmwasm-std.workspace = true
abstract-interface.workspace = true
abstract-core.workspace = true
cw-orch.workspace = true
serde.workspace = true
semver.workspace = true
thiserror.workspace = true

[dev-dependencies]
cw-asset.workspace = true
cw-controllers.workspace = true
abstract-app.workspace = true
abstract-sdk.workspace = true
anyhow.workspace = true
cosmwasm-schema.workspace = true
cw-storage-plus.workspace = true
cw2.workspace = true
