[package]
name = "abstract-client"
version = { workspace = true }
authors.workspace = true
edition.workspace = true
homepage.workspace = true
documentation.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["test-utils"]
test-utils = ["cw-asset", "cw20", "cw20-base", "cw-plus-interface"]

[dependencies]
cosmwasm-std.workspace = true
abstract-interface.workspace = true
abstract-core.workspace = true
cw-orch.workspace = true
serde.workspace = true
semver.workspace = true
thiserror.workspace = true
cw-ownable.workspace = true

# Used for test-utils feature
cw-asset = { workspace = true, optional = true }

# For Cw20 builder
cw-plus-interface = { git = "https://github.com/AbstractSDK/cw-plus.git", tag = "v1.2.2", optional = true }
cw20 = { git = "https://github.com/AbstractSDK/cw-plus.git", tag = "v1.2.2", optional = true, features = [
  "interface",
] }
cw20-base = { git = "https://github.com/AbstractSDK/cw-plus.git", tag = "v1.2.2", optional = true, features = [
  "interface",
] }

[dev-dependencies]
abstract-testing.workspace = true
abstract-client = { path = ".", features = ["test-utils"] }
cw-asset.workspace = true
cw-controllers.workspace = true
abstract-app = { workspace = true, features = ["test-utils"] }
abstract-adapter = { workspace = true, features = ["test-utils"] }
anyhow.workspace = true
cosmwasm-schema.workspace = true
cw-storage-plus.workspace = true
cw2.workspace = true
