[package]
name = "abstract-wyndex-adapter"
version = { workspace = true }
authors = ["Abstract Money <contact@abstract.money>"]
edition = { workspace = true }
description = "Abstract DexCommand implementation for Wyndex"
license = { workspace = true }
repository = { workspace = true }
homepage = "https://www.wynddao.com"

[features]
local = []
default = ["full_integration"]
full_integration = [
  "dep:wyndex",
  "dep:wyndex-stake",
  "dep:cw-asset",
  "dep:cw-utils",
  "dep:cw-controllers",
  "dep:cw20",
]

[dependencies]
cosmwasm-std = { workspace = true }

abstract-sdk = { version = "0.19.2" }
abstract-staking-standard = { version = "0.19.2" }
abstract-dex-standard = { version = "0.19.2" }

# Optional
wyndex = { git = "https://github.com/wynddao/wynddex", tag = "v1.1.2", optional = true }
wyndex-stake = { git = "https://github.com/wynddao/wynddex", tag = "v1.1.2", features = [
  "library",
], optional = true }
cw20 = { version = "1.1.1", optional = true }
cw-asset = { version = "3.0.0", optional = true }
cw-utils = { workspace = true, optional = true }
cw-controllers = { workspace = true, optional = true }
