[package]
name = "abstract-ibc-host"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
description = "Abstract IBC Host Contract"
repository = "https://github.com/AbstractSDK/abstract"
readme = "README.md"

[lib]
crate-type = ["cdylib", "rlib"]


[features]

# # use library feature to disable all instantiate/execute/query exports
default = ["export"]
export = []
schema = []


[dependencies]
cosmwasm-std = { workspace = true, features = ["stargate"] }
cosmwasm-schema = { workspace = true }
cw-utils = { workspace = true }
cw-controllers = { workspace = true }
cw-storage-plus = { workspace = true }
cw2 = { workspace = true }
cw-ownable = { workspace = true }
schemars = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
abstract-sdk = { workspace = true }
abstract-std = { workspace = true }
semver = { workspace = true }
abstract-macros = { workspace = true }
cw-orch = { workspace = true }
cw-paginate = "2.0.0"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
workspace-hack = { version = "0.1", path = "../../../workspace-hack" }

[dev-dependencies]
abstract-interface = { workspace = true }
cw-orch = { workspace = true }
abstract-std = { workspace = true }
anyhow.workspace = true
abstract-adapter = { workspace = true, features = ["test-utils"] }
abstract-testing = { workspace = true }
