[package]
name = "abstract-dex-adapter"
description = "The DEX adapter is an Abstract adapter for interacting with usual DEX commands. It provides a common interface for all DEXes"

version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

exclude = ["contract.wasm", "hash.txt"]
resolver = "2"


[lib]
crate-type = ["cdylib", "rlib"]

[[example]]
name = "deploy"

[[example]]
name = "schema"
required-features = ["schema"]

[features]
default = ["export"]
export = []
schema = ["abstract-adapter/schema"]
testing = ["dep:abstract-client", "dep:cw20", "dep:serde_json"]

# Supported Dexes
wynd = [
  "dep:wasmswap",
  "dep:cw20_junoswap",
  "abstract-wyndex-adapter/full_integration",
]
osmosis = ["abstract-osmosis-adapter/full_integration"]
astroport = ["abstract-astroport-adapter/full_integration"]
bow = ["abstract-kujira-adapter/full_integration"]
terraswap = ["dep:terraswap", "dep:cw20"]
astrovault = ["abstract-astrovault-adapter/full_integration"]

osmosis-test = ["cw-orch/osmosis-test-tube"]

# Builds
[package.metadata.optimizer]
builds = [
  { name = "juno", features = [
    "wynd",
  ] },
  { name = "terra2", features = [
    "astroport",
    "terraswap",
  ] },
  { name = "neutron", features = [
    "astroport",
  ] },
  { name = "osmosis", features = [
    "osmosis",
  ] },
  { name = "kujira", features = [
    "bow",
  ] },
  { name = "injective", features = [
    "astroport",
  ] },
  { name = "sei", features = [
    "astroport",
  ] },
  { name = "archway", features = [
    "astrovault",
  ] },
]

[dependencies]
cosmwasm-std = { workspace = true }
schemars = { workspace = true }
cw20 = { workspace = true, optional = true }
thiserror = { workspace = true }
cw-asset = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-storage-plus = { workspace = true }

abstract-interface = { workspace = true }
abstract-core = { workspace = true }
abstract-sdk = { workspace = true }
abstract-adapter = { workspace = true }
cw-orch = { workspace = true }

# Local
abstract-dex-standard = { workspace = true }
abstract-adapter-utils = { workspace = true }

# Wyndex #
abstract-wyndex-adapter = { workspace = true }

# Osmosis #
abstract-osmosis-adapter = { workspace = true }

# Terra #
abstract-astroport-adapter = { workspace = true }

# Kujira #
abstract-kujira-adapter = { workspace = true }

# Juno dexes #
cw20_junoswap = { package = "cw20", version = "0.10.0", optional = true }
wasmswap = { git = "https://github.com/Wasmswap/wasmswap-contracts", tag = "v1.2.0", features = [
  "library",
], optional = true }
# Terra dexes #
terraswap = { version = "2.8.0", optional = true }

# Astrovault #
abstract-astrovault-adapter = { workspace = true }

# Testing #
abstract-client = { workspace = true, optional = true }
serde_json = { version = "1.0", optional = true }

[dev-dependencies]
abstract-interface = { workspace = true, features = ["daemon"] }
tokio = { workspace = true }
semver = { workspace = true }
anyhow = { workspace = true }
speculoos = { workspace = true }
dotenv = "0.15.0"
env_logger = "0.10.0"
clap = { workspace = true }
wyndex-bundle = { workspace = true }
abstract-testing = { workspace = true }
abstract-sdk = { workspace = true, features = ["test-utils"] }
dex = { path = ".", features = [
  "wynd",
  "osmosis",
], package = "abstract-dex-adapter" }

abstract-wyndex-adapter = { workspace = true, features = ["local"] }

cw20 = { workspace = true, features = ["interface"] }
cw20-base = { workspace = true, features = ["interface"] }
cw-utils = { workspace = true }
