[package]
name = "dca-app"
version = "0.3.0"
authors = [
  "CyberHoward <cyberhoward@protonmail.com>",
  "Adair <adair@abstract.money>",
  "Abstract Money <contact@abstract.money>",
]
edition = "2021"
homepage = ""
documentation = ""
repository = ""
license = "GPL-3.0-or-later"
keywords = ["cosmos", "cosmwasm", "abstractsdk"]
resolver = "2"

exclude = ["contract.wasm", "hash.txt"]

[lib]
crate-type = ["cdylib", "rlib"]

[[example]]
name = "schema"
required-features = ["schema"]

[features]
default = ["export"]
export = []
schema = ["abstract-app/schema"]

[dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-controllers = { workspace = true }
cw-storage-plus = { workspace = true }
thiserror = { workspace = true }
schemars = { workspace = true }
cw-asset = { workspace = true }

abstract-core = { workspace = true }
abstract-app = { workspace = true }
abstract-sdk = { workspace = true }

# Dependencies for interface
abstract-interface = { workspace = true }
cw-orch = { workspace = true }
croncat-app = { workspace = true, default-features = false }
abstract-dex-adapter = { workspace = true, default-features = false }

[dev-dependencies]
dca-app = { path = "." }
abstract-interface = { workspace = true, features = ["daemon"] }
abstract-testing = { workspace = true }
abstract-client = { workspace = true }
abstract-sdk = { workspace = true, features = ["test-utils"] }
speculoos = "0.11.0"
semver = "1.0"
dotenv = "0.15.0"
env_logger = "0.10.0"
cw-orch = { workspace = true, features = ["daemon"] }

# Croncat intefraces
croncat-sdk-factory = { version = "1.0.4" }
croncat-sdk-tasks = { version = "1.0.4" }
croncat-sdk-manager = { version = "1.0.4" }
croncat-sdk-agents = { version = "1.0.4" }
# Croncat contracts
croncat-factory = { version = "1.0.4" }
croncat-tasks = { version = "1.0.4" }
croncat-manager = { version = "1.0.4" }
croncat-agents = { version = "1.0.4" }
croncat-integration-testing = { version = "1.1.1" }


wyndex-bundle = { workspace = true }
abstract-dex-adapter = { workspace = true, features = ["wynd", "testing"] }
croncat-app = { workspace = true }

# Testing cw20
cw20-base = "0.16.0"
cw20 = "0.16.0"
