[package]
name = "abstract-manager"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
description = "Abstract Manager Contract"
license = { workspace = true }
readme = "README.md"
repository = "https://github.com/AbstractSDK/abstract"

exclude = ["contract.wasm", "hash.txt"]


[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["export"]
export = []


[dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-controllers = { workspace = true }
cw-storage-plus = { workspace = true }
cw2 = { workspace = true }
cw20 = { workspace = true }
cw-asset = { workspace = true }
schemars = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
abstract-sdk = { workspace = true }
abstract-std = { workspace = true }
abstract-nested-admin = { workspace = true }
semver = { workspace = true }
cw-semver = { workspace = true }
abstract-macros = { workspace = true }
cw-gov-ownable = { workspace = true }

[dev-dependencies]
cw20 = { workspace = true }
cw721-base = { version = "0.18.0", features = ["library"] }
cw721 = { version = "0.18.0" }
abstract-interface = { workspace = true }
cw-orch = { workspace = true, features = ["snapshot-testing"] }
anyhow = { workspace = true }
account-factory = { workspace = true }
ans-host = { workspace = true }
version-control = { workspace = true }
proxy = { workspace = true }
module-factory = { workspace = true }
rstest = { workspace = true }
speculoos = { workspace = true }
abstract-sdk = { workspace = true, features = ["test-utils"] }
abstract-adapter = { workspace = true, features = ["test-utils"] }
abstract-app = { workspace = true, features = ["test-utils"] }
abstract-standalone = { workspace = true, features = ["test-utils"] }
abstract-testing = { workspace = true }
abstract-macros = { workspace = true }
abstract-integration-tests = { workspace = true }

[profile.release]
rpath = false
lto = true
overflow-checks = true
opt-level = 3
debug = false
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
