[package]
name = "wyndex-bundle"
version = { workspace = true }
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]


[dependencies]
wyndex-multi-hop = { git = "https://github.com/cosmorama/wynddex.git", tag = "v1.1.2" }
wyndex-factory = { git = "https://github.com/cosmorama/wynddex.git", tag = "v1.1.2" }
wyndex-pair = { git = "https://github.com/cosmorama/wynddex.git", tag = "v1.1.2" }
wyndex-stake = { git = "https://github.com/cosmorama/wynddex.git", tag = "v1.1.2" }
wyndex = { git = "https://github.com/cosmorama/wynddex.git", tag = "v1.1.2" }
cw-controllers = "1.0.1"

abstract-core = { workspace = true }
abstract-interface = { workspace = true, features = ["integration"] }
cw20-base = { workspace = true }
cw20 = { workspace = true }
cw-orch = { workspace = true }
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-asset = { workspace = true }
anyhow = { workspace = true }
cw-plus-interface.workspace = true
