[package]
name = "calendar-app"
version = "0.4.0-beta.0"
authors = [
  "CyberHoward <cyberhoward@protonmail.com>",
  "Adair <adair@abstract.money>",
  "Andrew <work@andrewpochapsky.com>",
  "Abstract Money <contact@abstract.money>",
]
edition = { workspace = true }

exclude = ["contract.wasm", "hash.txt"]

[lib]
crate-type = ["cdylib", "rlib"]

[[example]]
name = "schema"
required-features = ["schema"]

[[example]]
name = "deploy"

[features]
default = ["export"]
export = []
# enable node-backed tests (ensure Docker is running)
# run with `cargo test --jobs 1 --features node-tests`
node-tests = []
schema = ["abstract-app/schema"]
testing = ["abstract-app/test-utils"]

[dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-controllers = { workspace = true }
cw-storage-plus = { workspace = true }
thiserror = { workspace = true }
schemars = { workspace = true }
cw-asset = { workspace = true }

abstract-app = { workspace = true }

chrono = { version = "0.4.31", default_features = false }
cw-utils = "1.0.1"

# Dependencies for interface
cw-orch = { workspace = true }

[dev-dependencies]
calendar-app = { path = ".", features = ["testing"] }
abstract-interface = { workspace = true, features = ["daemon"] }
abstract-client = { workspace = true, features = ["test-utils"] }
speculoos = { workspace = true }
semver = { workspace = true }
dotenv = "0.15.0"
env_logger = "0.10.0"
cw-orch = { workspace = true }
clap = { workspace = true }
