[package]
name = "abstract-app"
version = "0.19.2"
edition = { workspace = true }
license = { workspace = true }
description = "base app contract implementation"
resolver = "2"

[lib]
crate-type = ["cdylib", "rlib"]


[features]
default = ["test-utils"]
test-utils = ["dep:abstract-testing", "dep:abstract-interface", "dep:cw-orch"]
schema = []

[dependencies]
cosmwasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
cw-storage-plus = { workspace = true }
serde = { workspace = true }
semver = { workspace = true }
schemars = { workspace = true }
cw-controllers = { workspace = true }
thiserror = { workspace = true }
cw2 = { workspace = true }
cw-asset = { workspace = true }
abstract-sdk = { workspace = true }
abstract-core = { workspace = true }
abstract-testing = { workspace = true, optional = true }
cw-orch = { workspace = true, optional = true }
# Keep this as a version and update when publishing new versions
abstract-interface = { path = "../../packages/abstract-interface", version = "0.19.2", optional = true }
sylvia = { version = "0.9.0", git = "https://github.com/AbstractSDK/sylvia", rev = "16324a4" }           #branch="update/abstract-contract",
# sylvia = { version = "0.9.0", path = "../../../../sylvia/sylvia" } #branch="update/abstract-contract",

[dev-dependencies]
cosmwasm-schema = { workspace = true }
speculoos = { workspace = true }
abstract-app = { path = ".", features = ["test-utils"] }
